.contact-container {
	font-size: var(--fs-m);
	background-color: var(--light-clr);
	position: fixed;
	top: 0;
	left: 100%;
	width: 100%;
	height: 100%;
}
#contact {
	position: absolute;
	font-size: var(--fs-xxl);
	top: 20%;
	left: 50%;
	width: 80%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.contact-container a {
	text-decoration: none;
	color: inherit;
	cursor: none;
}

.footer-container {
	display: flex;
	flex-direction: column;
	position: absolute;
	bottom: 0;
	margin-bottom: 2vh;
	width: 100%;
}

.row {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	text-align: center;
	align-items: center;
}

.left {
	display: flex;
	justify-content: flex-start;
	width: 30%;
	min-width: 210px;
}
.middle {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	width: 30%;
	min-width: 260px;
	max-width: 390px;
}
.middle div {
	padding-left: 5px;
	padding-right: 5px;
}

.right {
	display: flex;
	justify-content: flex-end;
	width: 30%;
	min-width: 210px;
}
