.cursor-container {
	display: flex;
	flex-direction: row-reverse;
	position: fixed;
	pointer-events: none;
	z-index: 9999;
}

.cursor-circle {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 35px;
	height: 35px;
	border: 2px solid var(--accent-clr);
	border-radius: 50%;
	transform-origin: center;
	transition: transform 0.3s ease, width 0.3s ease, height 0.3s ease;
}

.cursor-dot {
	position: fixed;
	height: 4px;
	width: 4px;
	background-color: var(--accent-clr);
	border-radius: 50%;
	transition: opacity 0.5s ease, width 0.5s ease-out, height 0.5s ease-out;
}

.cursor-display {
	position: relative;
}
#display {
	width: clamp(210px, 27vw, 540px);
	height: clamp(140px, 18vw, 360px);
	transition: opacity 0.2s ease-out;
	opacity: 0;
}
