@media (min-width: 901px) {
	:root {
		--arrow-size: 5%;
		--item-hover-width: 86.5%;
	}
}

@media (max-width: 900px) {
	:root {
		--arrow-size: 50px;
		--item-hover-width: calc(90% - 50px);
	}
}

.works-container {
	position: fixed;
	top: 100%;
	width: 100%;
}

#works {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}
#works div {
	font-size: 35vw;
}

.project-divider {
	background-color: var(--light-clr);
	height: 2px;
	margin-left: 5%;
	width: 90%;
	opacity: 0.25;
}

.project-item {
	display: grid;
	grid-template-columns: 1fr 3.5fr 2.5fr 0.1fr;
	align-items: center;
	height: 10rem;
	width: 94%;
	transition: all 0.5s ease;
	background-color: var(--dark-clr);
}

.project-item:hover {
	margin-left: 3%;
	width: var(--item-hover-width);
	transition: all 0.5s ease;
}

.project-number {
	text-align: center;
	font-size: var(--fs-m);
}

.project-name {
	font-size: var(--fs-xl);
}

.project-technologies-container {
	display: flex;
	text-align: right;
	flex-direction: column;
	font-size: var(--fs-s);
}
.arrow {
	position: fixed;
	right: 5.5%;
	width: var(--arrow-size);
	z-index: -1;
	fill: var(--accent-clr);
}
