.project-item {
	grid-template-columns: 1fr 4fr 2fr 0fr;
	transition: all 0.5s ease;
	background-color: var(--dark-clr);
	z-index: 1;
}

.project-item:hover {
	transition: all 0.5s ease;
}

.project-number {
	font-size: var(--fs-m);
}

.project-name {
	font-size: var(--fs-xl);
}

.arrow {
	position: absolute;
	right: 5.5%;
	width: 5%;
	max-width: 10rem;
}
