:root {
	--fs-xxl: 200px;
	--fs-xl: 75px;
	--fs-l: 30px;
	--fs-m: 20px;
	--fs-s: 15px;

	--accent-clr: #809bce;
	--dark-clr: #0a0908;
	--light-clr: #e8e8e4;
}

@media (min-width: 1401px) and (max-width: 1600px) {
	:root {
		--fs-xxl: 160px;
		--fs-l: 25px;
		--fs-m: 18px;
		--fs-s: 13.5px;
	}
}

@media (min-width: 1101px) and (max-width: 1400px) {
	:root {
		--fs-xxl: 130px;
		--fs-l: 20px;
		--fs-m: 16px;
		--fs-s: 12px;
	}
}

@media (min-width: 851px) and (max-width: 1100px) {
	:root {
		--fs-xxl: 90px;
		--fs-l: 18px;
		--fs-m: 14px;
		--fs-s: 11px;
	}
}

@media (min-width: 651px) and (max-width: 850px) {
	:root {
		--fs-xxl: 70px;
		--fs-l: 15px;
		--fs-m: 12.5px;
		--fs-s: 10px;
	}
}

@media (max-width: 650px) {
	:root {
		--fs-xxl: 50px;
		--fs-l: 13px;
		--fs-m: 11px;
		--fs-s: 9px;
	}
}

canvas {
	position: fixed;
	top: 0;
	left: 0;
}

body {
	font-family: 'Hanken Grotesk', sans-serif;
	color: var(--light-clr);
	cursor: none;
}

::-webkit-scrollbar {
	width: 14px;
}
::-webkit-scrollbar-track {
	background: #cdcdc4;
}

::-webkit-scrollbar-thumb {
	width: 15px;
	background: var(--accent-clr);
	border-radius: 100vw;
}

.loader-container {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	color: var(--light-clr);
	background-color: var(--dark-clr);
}

#load-name {
	position: fixed;
	top: -1%;
	right: 2%;
	//background-color: aqua;
	font-size: var(--fs-xxl);
}

#loading {
	position: absolute;
	bottom: -2%;
	margin-right: 1%;
	right: 82%;
	font-size: var(--fs-xxl);
	transition: right 0.5s ease-out;
	overflow: hidden;
}

.page {
	width: 100%;
	height: 1500vh;
}

.cursor-container {
	display: flex;
	flex-direction: row-reverse;
	position: fixed;
	pointer-events: none;
	z-index: 9999;
}

.cursor-circle {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 35px;
	height: 35px;
	border: 2px solid var(--accent-clr);
	border-radius: 50%;
	transform-origin: center;
	transition: transform 0.3s ease, width 0.3s ease, height 0.3s ease;
}

.cursor-dot {
	position: fixed;
	height: 4px;
	width: 4px;
	background-color: var(--accent-clr);
	border-radius: 50%;
	transition: opacity 0.2s ease, width 0.5s ease-out, height 0.5s ease-out;
}

.cursor-display {
	position: relative;
}
#display {
	width: clamp(210px, 27vw, 540px);
	height: clamp(140px, 18vw, 360px);
	transition: opacity 0.25s ease-out;
	opacity: 0;
}

.header-container {
	position: fixed;
	display: flex;
	flex-direction: row;
	align-items: center;
	top: 1%;
	right: 9%;
	z-index: 1;
}

#header-name {
	position: fixed;
	left: 5%;
	font-size: var(--fs-l);
	transition: all 0.4s ease;
}

.shortcut-container {
	font-size: var(--fs-m);
	display: flex;
	gap: 6%;
}

.about-container {
	position: fixed;
	top: 20%;
	bottom: 20%;
	margin-left: 10%;
	margin-right: 45%;
}

.about-hello {
	overflow: hidden;
	top: 10%;
	padding: 0;
	font-size: var(--fs-xxl);
}

.about-text {
	margin-top: 5vh;
	font-size: var(--fs-l);
}

.projects-container {
	position: fixed;
	top: 100%;
	//left: 0;
	width: 100%;
	height: 100%;
	opacity: 1;
}

.project-divider {
	background-color: var(--light-clr);
	height: 2px;
	margin-left: 5%;
	width: 90%;
	opacity: 0.25;
}

.project-item {
	display: grid;
	grid-template-columns: 1fr 4fr 2fr 0fr;
	align-items: center;
	height: 10rem;
	width: 94%;
	transition: all 0.5s ease;
	background-color: var(--dark-clr);
}

.project-item:hover {
	margin-left: 3%;
	width: 86%;
	transition: all 0.5s ease;
}

.project-number {
	text-align: center;
	font-size: var(--fs-m);
}

.arrow {
	position: fixed;
	right: 5.5%;
	width: 5%;
	max-width: 10rem;
	z-index: -1;
}

.project-name {
	font-size: var(--fs-xl);
}
.project-technologies-container {
	display: flex;
	text-align: right;
	flex-direction: column;
}

.line-wrapper {
	overflow: hidden;
}

.list-container {
	color: white;
	position: fixed;
	display: grid;
	grid-template-rows: repeat(3, 1fr);
	top: 6%;
	left: 0;
	width: 17%;
	height: 94%;
}

.item {
	display: inline-flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: center;
	margin: 10%;
	margin-right: 1%;
	color: #e8e8e4;
	font-size: var(--fs-s);
	overflow: hidden;
	transition-delay: 0.1s;
	transition: color 1s ease;
}

#gcp {
	white-space: nowrap;
}

.item ul {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	list-style-type: none;
	margin-top: -5%;
	margin-right: 13%;
	white-space: nowrap;
}

.item p {
	margin-right: 12%;
	font-size: var(--fs-l);
}

.box-container {
	position: fixed;
	width: 81.5%;
	right: 0%;
	top: 6%;
	height: 62.66%;
	display: grid;
	margin-right: 0.8%;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(2, 1fr);
}

.box {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 1%;
	color: #e8e8e4;
	font-size: var(--fs-l);
	overflow: hidden;
	text-align: center;
}

.box p {
	text-align: center;
	width: 100%;
}

img {
	width: 30%;
	height: 30%;
}

.contact-container {
	font-size: var(--fs-m);
	background-color: #e8e8e4;
	position: fixed;
	top: 0;
	left: 100%;
	width: 100%;
	height: 100%;
}

#contact {
	position: absolute;
	font-size: var(--fs-xxl);
	top: 20%;
	left: 50%;
	width: 80%;
	transform: translate(-50%, -50%);
	text-align: center;
}

#info {
	position: absolute;
	bottom: 2%;
	left: 4%;
}

#socials-container {
	position: absolute;
	bottom: 2%;
	left: 50%;
	transform: translate(-50%);
}

#socials {
	display: flex;
	justify-content: center;
	gap: 8%;
}

#socials-email {
	display: flex;
	justify-content: center;
}

a {
	text-decoration: none;
	color: inherit;
	cursor: none;
}

#coded {
	position: absolute;
	bottom: 2%;
	right: 4%;
}

#copyright {
	display: flex;
	justify-content: flex-end;
}
