:root {
	--fs-xxl: 200px;
	--fs-xl: 75px;
	--fs-l: 30px;
	--fs-m: 20px;
	--fs-s: 16px;

	--accent-clr: #b8c0ff; //aac8a7;
	--dark-clr: #0a0908;
	--light-clr: #f8f8ff; //#e8e8e4;
}

@media (min-width: 1401px) and (max-width: 1600px) {
	:root {
		--fs-xxl: 160px;
		--fs-xl: 65px;
		--fs-l: 26px;
		--fs-m: 18.5px;
		--fs-s: 15.5px;
	}
}

@media (min-width: 1101px) and (max-width: 1400px) {
	:root {
		--fs-xxl: 140px;
		--fs-xl: 50px;
		--fs-l: 23px;
		--fs-m: 17.5px;
		--fs-s: 15px;
	}
}

@media (min-width: 701px) and (max-width: 1100px) {
	:root {
		--fs-xxl: 90px;
		--fs-xl: 45px;
		--fs-l: 23px;
		--fs-m: 16px;
		--fs-s: 14.5px;
	}
}

@media (min-width: 581px) and (max-width: 700px) {
	:root {
		--fs-xxl: 75px;
		--fs-xl: 36px;
		--fs-l: 18px;
		--fs-m: 16px;
		--fs-s: 14px;
	}
}

@media (min-width: 451px) and (max-width: 580px) {
	:root {
		--fs-xxl: 60px;
		--fs-xl: 28px;
		--fs-l: 18px;
		--fs-m: 16px;
		--fs-s: 14px;
	}
}

@media (max-width: 450px) {
	:root {
		--fs-xxl: 50px;
		--fs-xl: 25px;
		--fs-l: 15px;
		--fs-m: 15px;
		--fs-s: 14px;
	}
}

body {
	font-family: 'Inter', sans-serif;
	font-weight: 400;
	color: var(--light-clr);
	cursor: none;
	background-color: var(--dark-clr);
}

::-webkit-scrollbar {
	width: 11px;
}
::-webkit-scrollbar-track {
	background: #0a0908;
}

::-webkit-scrollbar-thumb {
	width: 11px;
	background: var(--accent-clr);
	border-radius: 100vw;
}

.loader-container {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 3;
	color: var(--light-clr);
	background-color: var(--dark-clr);
}

#load-name {
	position: fixed;
	top: -1%;
	right: 2%;
	font-size: var(--fs-xxl);
}

#loading {
	position: absolute;
	bottom: -2%;
	margin-right: 1%;
	right: 82%;
	font-size: var(--fs-xxl);
	transition: right 0.5s ease-out;
	overflow: hidden;
}

.page {
	height: 1500vh;
}
.header-container {
	color: var(--light-clr);
	user-select: none;
}
.header-left {
	position: fixed;
	display: flex;
	align-items: center;
	font-size: var(--fs-l);
	top: 2vh;
	margin-left: 0.5%;
	height: clamp(25px, 2.5vw, 50px);
	z-index: 2;
}

.header-right {
	position: fixed;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-evenly;
	font-size: var(--fs-m);
	top: 2vh;
	right: 0;
	margin-right: 3%;
	width: 28%;
	min-width: 450px;
	height: clamp(25px, 2.5vw, 50px);
	z-index: 2;
}

.header-right div {
	padding-left: 5px;
	padding-right: 5px;
}

#header-name {
	position: fixed;
	left: 5%;
	font-size: var(--fs-l);
	transition: all 0.4s ease;
}

.about-container {
	position: fixed;
	top: 20%;
	bottom: 20%;
	margin-left: 10%;
	margin-right: 45%;
	background-color: aqua;
}

.about-hello {
	overflow: hidden;
	top: 10%;
	padding: 0;
	font-size: var(--fs-xxl);
}

.about-text {
	margin-top: 5vh;
	font-size: var(--fs-l);
}

.line-wrapper {
	overflow: hidden;
}

.mask {
	position: fixed;
	opacity: 0.1;
	z-index: 1;
}
#top {
	top: -50vh;
	left: 0;
	width: 100vw;
	height: 50vh;
	background-color: greenyellow;
}

#left {
	top: 0;
	left: -20vw;
	width: 20vw;
	height: 100vh;
	background-color: greenyellow;
}

#right {
	top: 0;
	left: 100vw;
	width: 20vw;
	height: 100vh;
	background-color: greenyellow;
}
