canvas {
	position: fixed;
	top: 0;
	left: 0;
}

body {
	font-family: 'Hanken Grotesk', sans-serif;
	color: #0a0908;
	//user-select: none;
}

.page {
	width: 100%;
	height: 1400vh;
}

.header {
	position: fixed;
	top: 1%;
}
.about-container {
	background-color: aqua;
	position: fixed;
	top: 20vh;
	margin-left: 20vh;
	margin-right: 45%;
}

.about-hello {
	overflow: hidden;
	top: 10vh;
	font-size: 200px;
}

.about-text {
	margin-top: 10vh;
	font-size: 30px;
}

.line-wrapper {
	overflow: hidden;
}

.project-container {
	//background-color: pink;
	position: fixed;
	left: 50%;
	bottom: 6%;
	transform: translateX(-50%);
}

.project-name {
	text-align: center;
	overflow: hidden;
}

.project-desc {
	text-align: center;
	overflow: hidden;
}

.list-container {
	//background-color: pink;
	color: white;
	position: fixed;
	display: grid;
	grid-template-rows: repeat(3, 1fr);
	bottom: 0;
	left: 0;
	width: 17%;
	height: 100%;
}

.item {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: center;
	//background-color: blue;
	margin: 1%;
	margin-left: 4%;
	color: #e8e8e4;
	font-size: 15px;
	overflow: hidden;
	//text-align: center;
}

.item ul {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	list-style-type: none;
	margin-top: -5%;
	margin-right: 13%;
}

.item p {
	margin-right: 12%;
	font-size: 30px;
}

.box-container {
	//background-color: pink;
	position: fixed;
	width: 81.5%;
	right: 0%;
	top: 0;
	height: 66.66%;
	display: grid;
	margin-right: 0.8%;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(2, 1fr);
	//border: 1px solid #ccc;
}

.box {
	display: flex;
	align-items: center;
	justify-content: center;
	//background-color: blue;
	margin: 1%;
	color: #e8e8e4;
	font-size: 35px;
	overflow: hidden;
	text-align: center;
}

.box p {
	text-align: center;
	width: 100%;
}

img {
	width: 30%;
	height: 30%;
}

#testbtn {
	position: fixed;
	top: 0;
	left: 0;
}
